body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(193, 224, 214);
  height: 100vh;
}

.main {
  background: rgb(193, 224, 214);
  padding: 2em;
  height: 100vh;
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main > p {
  font-size: 2.4em;
  text-align: center;
  border-radius: 30px;
  height: 50px;
  width: 6em;
  background: rgb(5, 116, 105);
  color: white;
  margin-bottom: 1em;
}

.button {
  display: flex;
  flex-direction: row;
}

.button > button {
  width: 12em;
  margin-top: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1em;
  padding: 1em;
  background: rgb(17, 128, 117);
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}