* {
  font-family: 'Urbanist', sans-serif;
}
.doctor_list {
  display: flex;
  flex-direction: column;
}

.doctor_element {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.create_doctor {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.create_doctor > input {
  width: 300px;
}