body {
  font-family: 'Urbanist', sans-serif;
}

body{

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(193, 224, 214);
  height: 100vh;
}

.main{
  background: rgb(176, 224, 214);
  padding: 2em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main > h1{
  font-size: 2.4em;
  text-align: center;
  margin-top: 4em;
  border-radius: 30px;
  height: 80px;
  width: 6em;
  background: rgb(255, 255, 255);
  margin-bottom: 1em;
}

.form{
  background: rgb(176, 224, 214);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input[type = "text"]{
  width: 200px;
  background: rgb(255, 255, 255);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color:rgb(0, 0, 0);
  outline: none;
  border: none;
}

.form input[type = "text"]::placeholder{
  color:black;
  font-size: 1.2em;
}

.form input[type = "password"]{
  width: 200px;
  margin-top: 1em;
  background: rgb(255, 255, 255);
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 20px;
  color:rgb(0, 0, 0);
  outline: none;
  border: none;
}

.form input[type = "password"]::placeholder{
  color:black;
  font-size: 1.2em;
}

.form > button{
  width: 200px;
  margin-top: 1em;
  padding: 1em;
  background: rgb(5, 116, 105);
  color: white;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}